<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm địa điểm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/user/update-devices" method="POST" class="addLocation">
                <div class="modal-body">
                    <div class="diadiem mb-3">
                        <select id="location" name="devices">
                            <option value="" selected disabled hidden>Chọn thiết bị</option>
                            <option value="gas">Máy đo khí gas</option>
                            <option value="humi">Máy đo độ ẩm</option>
                            <option value="temp">Máy đo nhiệt độ</option>
                        </select>
                    </div>
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form3Example1cg">Địa điểm</label>
                        <input type="text" name="location" id="form3Example1cg"
                            class="form-control form-control-lg input_location" />
                    </div>
                    <div class="text-success mt-3 mb-3 msg-addlocation"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                </div>
            </form>
        </div>
    </div>
</div>