<div class="listchiso">
    <div class="chiso"><a href="/datalist" type="button" class="btn btn-primary">Chỉ số</a></div>
    <div class="chiso"><a href="/dangerlist" type="button" class="btn btn-primary">Sự cố</a></div>
    <div class="chiso"><a href="/devicemanager" type="button" class="btn btn-primary device_manager">Quản lý thiết
            bị</a>
    </div>
    <div class="chiso"><a href="/location" type="button" class="btn btn-primary">Địa điểm</a></div>
    <button type="chiso" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Cấp quyền tài khoản
    </button>
    <div class="lichsu ms-3">
        <a href="/history" type="button" class="btn btn-primary">Lịch sử</a>
    </div>
</div>